/* Footer */

.footer {
	background: #C2C2D6;
	padding: 10px 0;
	border-top: 2px solid #D1D1E0;
	position: relative;
    height: 80px;
    clear: both;
}

#copyright {
	color: #6E6E9E;
	text-shadow: 0 2px 0 #F7F7FA;
}